* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

#container {
    display: flex;
    gap: 5px;
}

.eye {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.eyeball {
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
